---
title: Archives
created_at: 2007-08-29 10:44:00 +02:00
filter:
  - erb
  - haml
dirty:      true
layout: default
---
/ %h1= h(@page.title)

- all_posts = @pages.find(:all, :in_directory => "/", :recursive => true, :sort_by => "created_at", :reverse => true, :blog_post => true)
- all_posts.delete(@page)

- if all_posts.empty?
  %p No posts
- else
  - all_posts.group_by{|p| p.created_at.strftime('%Y')}.each do |year, year_posts|
    - year_posts.group_by{|p| p.created_at.strftime('%B')}.each do |month, posts|
      %h2== #{month} #{year}
      %ul.list
        - posts.each do |post|
          %li
            = link_to_page(post)
            %em== (#{post.created_at.strftime('%Y-%m-%d')})

