--- 
extension: html
author: evilchelu
filter: 
  - erb
  - haml
layout: default
created_at: 2007-12-09 15:09:00 +01:00
---
- recent = @pages.find(:all, :limit => 15, :in_directory => "/", :recursive => true, :sort_by => "created_at", :reverse => true, :project => true)
- recent.delete(@page)
- recent.each do |page|
  .article
    %h2.title= link_to page.title, page.url
    .body
      = render(page)
